.container {
  outline: 1px solid black;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img {
  outline: 1px solid blue;
  width: 100%;
  height: 60%;
  object-fit: contain;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
